dulwich==0.20.50
Flask==1.1.4
google-api-python-client==1.9.3
google-cloud-bigquery==3.13.0
google-cloud-firestore==2.13.1
google-cloud-logging==3.6.0
google-cloud-ndb==2.2.2
google-cloud-pubsub==1.6.1
google-cloud-storage==2.10.0
google-cloud-tasks==2.14.2
packaging==20.9
pylint==3.3.2
pycryptodome==3.7.3
redis==3.3.11
spyne==2.14.0
